@model KpiManager.KpiStrategy

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>KpiStrategy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kpi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kpi.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pointofsale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pointofsale.PointofsaleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KpiStrategyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
