@model IEnumerable<KpiManager.DataType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataType1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FloatPrecision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsNumeric)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloatPrecision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNumeric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DataTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DataTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DataTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
